<div class='jumbotron text-left clearfix'>
  <h1>All Topics</h1>
  <div class="search-box">
    <%= form_tag topics_path, method: "get" do %>
      <%= text_field_tag :search, params[:search], placeholder: "e.g. sports" %>
      <%= submit_tag "Filter Topics" %>
    <% end %>
  </div>
</div>

<div class="flex-container clearfix">
  <% @topics.each do |topic| %>
  <div class="topics-box">
    <%= link_to topic.name, topic %>
  </div>
  <% end %>
</div>
