<div class="background_awesome">
  <div class="login_lol">
    <%= image_tag "wroteit.png", id: "logos"%><br>
    <%= form_tag sessions_path do %>
      <h1 class="h3 mb-3 font-weight-normal">Please Sign In</h1>
      Username: <br>
      <%= text_field_tag :username %><br>
      Password: <br>
      <%= password_field_tag :password %><br>
      <hr>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <% end %>
    </div>
  </div>
</div>
