<h1>All Users | <%= link_to "All Posts", posts_path %></h1>
<ul>
  <% @users.each do |user| %>
  <li> <%= link_to user.username, user %> || <%= link_to "delete", user, method: "delete" %> </li>
  <% end %>
</ul>
