<div class='jumbotron text-left clearfix'>
  <h1>All Tags</h1>
  <div class="search-box">
    <%= form_tag '', method: "get" do %>
      <%= text_field_tag :search, params[:search], placeholder: "e.g. sports" %>
      <%= submit_tag "Filter Tags" %>
    <% end %>
  </div>
</div>

<div class="flex-container clearfix">
  <% @tags.each do |tag| %>
  <div class="tags-box">
    <%= link_to tag.name, tag %>
  </div>
  <% end %>
</div>
