/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';

body {
  background-color: #2D414C !important;
}

.orangish-nav {
  background-color: #FF790F !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #FFF;
  margin-left:10px;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #2D414C;
}

.jumbotron {
  padding: 1rem 1rem;
  background-color: #F7F8F8;
  color: #2D414C;
  height: auto;
  margin-bottom: auto;
  border-radius: 0 !important;
}

.jumbotron h1 {
    float: left;
    font-size: 1.7rem;
    margin-right: 10px;
}

.search-box {
  float: right;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#logo-image {
  max-height: 50px;
  max-width: 70px;
  margin-top: -10px;
}

.dark-footer {
  margin-top: 20px;
  background-color: #2D414C;
  color: #EAECED;
}

.dark-footer a {
  color: #EAECED;
  text-decoration: underline;
}

.flex-container {
  display: flex;
  align-items: stretch;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  background-color: #fff !important;
}

.flex-container > .tags-box {
  border-radius: 5px;
  border: 1px solid #8EBBFD;
  background-color:#8EBBFD;
  margin: 50px;
  padding-bottom: 35px;
  min-width: 250px;
  width:17%;
  word-wrap: break-word;
  float: left;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.tags-box a {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  position: relative;
  top: 15px;
  text-align: center;
  vertical-align: middle;
}

.flex-container > .users-box {
  border-radius: 5px;
  border: 1px solid #FFD12B;
  background-color:#FFD12B;
  margin: 50px;
  padding-bottom: 35px;
  min-width: 250px;
  width:17%;
  word-wrap: break-word;
  float: left;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.users-box a {
  color: #333;
  font-weight: bold;
  font-size: 2rem;
  position: relative;
  top: 15px;
  text-align: center;
  vertical-align: middle;
}

.flex-container > .topics-box {
  border-radius: 5px;
  border: 1px solid #FF7F73;
  background-color:#FF7F73;
  margin: 50px;
  padding-bottom: 35px;
  min-width: 250px;
  width:17%;
  word-wrap: break-word;
  float: left;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.topics-box a {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  position: relative;
  top: 15px;
  text-align: center;
  vertical-align: middle;
}

.flex-container > .post-box {
  border-radius: 5px;
  border: 1px solid #2D414C;
  margin: 25px;
  padding-bottom: 35px;
  min-width: 250px;
  width:17%;
  word-wrap: break-word;
  float: left;
  position: relative;
}

.post-title-box {
  background-color: #2D414C;
  color: white;
  font-size: 1.3rem;
  font-weight: 200;
  width: 100%;
  padding: 15px;
}

.post-title {
  color: white;
  font-size: 1.3rem;
  font-weight: 200;
  display: block;
}

.post-title-content {
  font-size: .8rem;
  font-weight: normal;
}

.post-title-content a {
  color: white;
  text-decoration: underline;
}

.post-link-title {

}

.post-title a {
  color: white;
}

.post-image {
  max-width: 100%;
}

.post-score {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 7px;
  font-size: 1rem;
  margin-top: 5px;
}

.score {
  font-size: 2rem;
  color:green;
  margin: 0 15px;
  position: relative;
  top: 4px;
}

.link-content {
  padding: 15px;
  color: #333;
  font-size: 1.1rem;
  margin-bottom:10px;
}

.delete {
  position: absolute;
  top: -15px;
  right:0px;
  font-size:.6em;
  color: #333;
}

.empty_posts {
  margin: 75px;
  font-size: 3rem;
}
